<app-home-navigation-menu></app-home-navigation-menu>
<app-header-section
  [title]="'Imate pitanja?'"
  [text]="
    'Kontaktirajte nas putem chat-a, mail-a, telefona ili kontakt forme i biće nam drago da odgovorimo na svako Vaše pitanje!'
  "
></app-header-section>
<!--contact us promo section start-->
<section class="contact-promo ptb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div
          class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100"
        >
          <span class="fa fa-comment fa-3x text-primary"></span>
          <div class="contact-promo-info mb-4">
            <h5>Četujte sa nama</h5>
            <p>
              Možete nas kontaktirati putem četa koji se nalazi u donjem desnom
              uglu. Javiće Vam se neko od naših agenata!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div
          class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100"
        >
          <span class="fa fa-envelope fa-3x text-primary"></span>
          <div class="contact-promo-info mb-4">
            <h5>Posaljite nam email</h5>
            <p>
              Možete nam poslati sve što Vas zanima i na email
              <strong>kidsnode@yandex.com</strong> i dobićete odgovor u roku od
              24h!
            </p>
          </div>
          <a href="mailto:kidsnode@yandex.com" class="btn btn-primary mt-auto"
            >Posalji email</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div
          class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100"
        >
          <span class="fa fa-phone fa-3x text-primary"></span>
          <div class="contact-promo-info mb-4">
            <h5>Pozovite nas</h5>
            <p>Lakše Vam je preko telefona, nije problem. Tu smo za Vas 24h!</p>
          </div>
          <a href="tel:0694505544" class="btn btn-link mt-auto"
            >+381(0) 69 450/55-44</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--contact us promo section end-->

<!--contact us form start-->
<section
  class="contact-us-form pt-60 pb-120"
  style="
    background: url('./assets/home/shape/contact-us-bg.svg') no-repeat center
      bottom;
  "
>
  <div class="container">
    <div class="row justify-content-lg-between align-items-center">
      <div class="col-lg-6 col-md-8">
        <div class="section-heading">
          <h2>Forma za upit</h2>
          <p>
            Upit nam možete poslati putem forme u nastavku i dobićete odgovor na
            mail koji ste naveli u formi!
          </p>
        </div>
        <form action="#" class="register-form">
          <div class="row">
            <div class="col-sm-6">
              <label for="firstName" class="mb-1"
                >Vaše ime <span class="text-danger">*</span></label
              >
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  [(ngModel)]="form.firstname"
                  placeholder="Unesite Vaše ime"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="mb-1">Prezime</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  [(ngModel)]="form.lastname"
                  placeholder="Unesite Vaše prezime"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <label for="phone" class="mb-1"
                >Telefon <span class="text-danger">*</span></label
              >
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  [(ngModel)]="form.phone"
                  placeholder="Unesite Vaš telefon"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <label for="email" class="mb-1"
                >Email<span class="text-danger">*</span></label
              >
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  placeholder="Unesite Vaš email"
                />
              </div>
            </div>
            <div class="col-12">
              <label for="yourMessage" class="mb-1"
                >Poruka <span class="text-danger">*</span></label
              >
              <div class="input-group mb-3">
                <textarea
                  class="form-control"
                  name="message"
                  [(ngModel)]="form.message"
                  placeholder="Kako možete da Vam pomognemo?"
                  style="height: 120px"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="message-status">
            <p class="text-danger" *ngIf="status === 0">
              {{ language.needToInputRequiredFields }}
            </p>
            <p class="text-danger" *ngIf="status === 1">
              {{ language.successfullySendMessageRequest }}
            </p>
          </div>
          <button (click)="submitForm()" class="btn btn-primary mt-4">
            Pošalji upit
          </button>
        </form>
      </div>
      <div class="col-lg-5 col-md-10">
        <div class="contact-us-img">
          <img
            src="./assets/home/contact-us-img-2.svg"
            alt="contact us"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--contact us form end-->

<!-- subscribe scrtion start -->
<app-subscribe-section></app-subscribe-section>
<!-- subscribe scrtion end -->

<!--footer section start-->
<footer class="footer-section">
  <app-footer-section></app-footer-section>
  <app-home-footer></app-home-footer>
</footer>
<!--footer section end-->
