<div #container>
  <ejs-grid
    #grid
    *ngIf="config"
    width="100%"
    [height]="height"
    [dataSource]="data"
    [editSettings]="config.editSettings"
    [toolbar]="config.toolbar"
    [allowSorting]="config?.sorting?.enable"
    [sortSettings]="config?.sorting?.initialSorting"
    [allowGrouping]="config.grouping.enable"
    [allowResizing]="config.allowResizing"
    [allowPaging]="config.paging.enable"
    [pageSettings]="config.paging.settings"
    [allowFiltering]="config.filtering.enable"
    (actionComplete)="actionComplete($event)"
  >
    <e-columns>
      <e-column
        *ngFor="let item of config.columns; let i = index"
        [type]="item.type"
        [field]="item.field"
        [headerText]="item.title"
        [width]="item.width"
        [class]="item?.class"
        [textAlign]="item?.position"
        [isPrimaryKey]="item.isPrimaryKey"
        [editType]="item.editType ? item.editType : null"
        [allowEditing]="item.allowEditing"
        [format]="item.format"
        [validationRules]="item.validation"
      >
      </e-column>
    </e-columns>

    <ng-template #editSettingsTemplate let-data>
      <div ngForm>
        <div class="form-row">
          <app-dynamic-forms
            [config]="config"
            (submit)="submitEmitter($event)"
            #form="dynamicForm"
          >
          </app-dynamic-forms>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>
