<app-loader-brand *ngIf="!language || loader"></app-loader-brand>

<section class="login-area" *ngIf="language && !loader">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="assets/login-bg.jpg" alt="image" />
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo">
                <a href="index.html"
                  ><img src="assets/logo.png" alt="image"
                /></a>
              </div>
              <div
                *ngIf="loginForgotPasswordIndicator === 'login'"
                class="login-container"
              >
                <h3>{{ language.welcomeTitle }}</h3>
                <p>
                  {{ language.noHaveAccount }}
                  <a class="signup-link" routerLink="signup">{{
                    language.signUp
                  }}</a>
                </p>
                <form (submit)="login($event)">
                  <div class="form-group-login">
                    <input
                      type="email"
                      placeholder="{{ language.enterEmail }}"
                      class="form-control-login"
                      name="username"
                      [(ngModel)]="loginData.username"
                    />
                  </div>
                  <div class="form-group-login">
                    <input
                      type="password"
                      placeholder="{{ language.enterPassword }}"
                      class="form-control-login"
                      name="password"
                      [(ngModel)]="loginData.password"
                    />
                  </div>
                  <button type="submit" class="default-btn">
                    <i class="bx bxs-hot"></i>{{ language.loginButton
                    }}<span></span>
                  </button>
                  <div class="forgot-password">
                    <a
                      (click)="loginForgotPasswordIndicator = 'forgotPassword'"
                      >{{ language.forgotPassword }}</a
                    >
                  </div>
                  <div class="connect-with-social">
                    <button type="submit" class="facebook">
                      <i class="bx bxl-facebook"></i>
                      {{ language.connectWithFacebook }}
                    </button>
                    <button type="submit" class="google">
                      <i class="bx bxl-google"></i>
                      {{ language.connectWithGoogle }}
                    </button>
                  </div>
                </form>
              </div>
              <div
                *ngIf="loginForgotPasswordIndicator === 'forgotPassword'"
                class="forgot-container"
              >
                <h5>{{ language.forgotPasswordTitle }}</h5>
                <form (submit)="resetPassword($event)">
                  <div class="form-group-login">
                    <input
                      type="email"
                      placeholder="{{ language.enterEmail }}"
                      class="form-control-login"
                      name="username"
                      [(ngModel)]="loginData.username"
                    />
                  </div>
                  <button type="submit" class="default-btn">
                    <i class="bx bxs-hot"></i>{{ language.forgotPasswordButton
                    }}<span></span>
                  </button>
                </form>
                <p>
                  {{ language.haveAccount }}
                  <a
                    class="signup-link"
                    (click)="loginForgotPasswordIndicator = 'login'"
                    >{{ language.loginButton }}</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
