<div class="footer-top footer-light ptb-60">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
        <div class="footer-single-col">
          <div class="footer-single-col mb-1">
            <img
              src="./assets/home/logo-white.png"
              alt="logo"
              class="img-fluid logo-white"
            />
            <img
              src="./assets/home/logo-color.png"
              alt="logo"
              class="img-fluid logo-color"
            />
          </div>
          <p>
            KidsNode je sistem koji omogućava efikasnije vođenje vrtića i
            predškolskih ustanova sa brojnim funkcionalnostima koji olakšavaju
            svakodnevni rad vaspitača, direktora i administrativnih radnika u
            vrtiću, pružajući potpune informacije roditeljima čija deca borave u
            vrtiću.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
        <div class="row">
          <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
            <div class="footer-single-col">
              <h6><a routerLink="/features">Funkcionalnosti</a></h6>
              <h6><a routerLink="/prices">Cene</a></h6>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
            <div class="footer-single-col">
              <h6><a routerLink="/about-us">O nama</a></h6>
              <h6><a routerLink="/contact-us">Kontant</a></h6>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
            <div class="footer-single-col">
              <h6><a routerLink="/about-us">O nama</a></h6>
              <h6><a routerLink="/contact-us">Kontant</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
