<body *ngIf="menu" class="layout-default">
  <div
    class="mdk-header-layout js-mdk-header-layout"
    data-domfactory-upgraded="mdk-header-layout"
  >
    <!-- Header -->

    <div
      id="header"
      class="mdk-header js-mdk-header m-0"
      data-fixed=""
      data-retarget-mouse-scroll=""
      data-domfactory-upgraded="mdk-header"
      style="padding-top: 57px"
    >
      <div class="mdk-header__bg">
        <div class="mdk-header__bg-front"></div>
        <div class="mdk-header__bg-rear"></div>
      </div>
      <div class="mdk-header__content">
        <div
          class="
            navbar navbar-expand-sm navbar-main
            pr-0
            navbar-light
            bg-white
            border-bottom
            mdk-header--fixed
          "
          id="navbar"
          data-primary="data-primary"
        >
          <div class="container-fluid p-0">
            <!-- Navbar toggler -->

            <button
              class="navbar-toggler navbar-toggler-right d-block d-lg-none"
              type="button"
              (click)="collapseSidebar()"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse-logo">
              <button
                class="navbar-toggler navbar-toggler-right d-block"
                type="button"
                (click)="collapseSidebar()"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar Brand -->
              <a href="index.html" class="navbar-brand">
                <img class="logo" src="./assets/logo.png" />
              </a>
            </div>
            <ul
              class="
                nav
                navbar-nav
                d-none d-sm-flex
                border-left
                navbar-height
                align-items-center
              "
            >
              <li class="nav-item dropdown">
                <a
                  (click)="myProfileInfo()"
                  (clickOutside)="profileInfo = ''"
                  class="nav-link dropdown-toggle cursor-pointer"
                  data-toggle="dropdown"
                  data-caret="false"
                >
                  <span class="mr-1 d-flex-inline">
                    <span class="text-light">{{ username }}</span>
                  </span>
                  <img
                    src="assets/images/avatar/demi.png"
                    class="rounded-circle"
                    width="32"
                    alt="Frontted"
                  />
                </a>
                <div
                  id="account_menu"
                  class="dropdown-menu dropdown-menu-right {{ profileInfo }}"
                >
                  <div class="dropdown-item-text dropdown-item-text--lh">
                    <div><strong>Adrian Demian</strong></div>
                    <div class="text-muted">@adriandemian</div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="index.html"
                    ><i class="material-icons">dvr</i> Dashboard</a
                  >
                  <a class="dropdown-item" href="profile.html"
                    ><i class="material-icons">account_circle</i> My profile</a
                  >
                  <a class="dropdown-item" href="edit-account.html"
                    ><i class="material-icons">edit</i> Edit account</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()"
                    ><i class="material-icons">exit_to_app</i> Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content" style="padding-top: 57px">
      <div
        class="mdk-drawer-layout js-mdk-drawer-layout"
        data-push=""
        data-responsive-width="992px"
        data-domfactory-upgraded="mdk-drawer-layout"
      >
        <div
          class="mdk-drawer-layout__content page {{
            transformContainerPosition
          }}"
        >
          <div class="container-fluid page__heading-container">
            <div class="page__heading d-flex align-items-end">
              <div class="flex">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Početna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Kontrolna tabla
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>

          <div class="container-fluid page__container">
            <router-outlet></router-outlet>
            <!-- <app-dynamic-forms [config]="configField" #form="dynamicForm">
            </app-dynamic-forms> -->
          </div>
        </div>

        <div
          class="mdk-drawer js-mdk-drawer {{ sidebarClass }} {{
            mobileSidebarClass
          }}"
          id="default-drawer"
          data-align="start"
          data-position="left"
          data-domfactory-upgraded="mdk-drawer"
          data-persistent=""
        >
          <div class="mdk-drawer__scrim"></div>
          <div class="mdk-drawer__content">
            <div
              class="
                sidebar sidebar-left sidebar-p-t
                ps ps--active-y
                sidebar-dark
                bg-dark
              "
            >
              <div *ngFor="let item of menu">
                <div class="sidebar-heading">{{ item.title }}</div>
                <ul class="sidebar-menu">
                  <li
                    class="sidebar-menu-item active open"
                    *ngFor="let parent of item.menu; let i = index"
                  >
                    <a class="sidebar-menu-button" (click)="collapseMenu(i)">
                      <i
                        class="
                          sidebar-menu-icon sidebar-menu-icon--left
                          material-icons
                        "
                        >dvr</i
                      >
                      <span class="sidebar-menu-text">{{ parent.title }}</span>
                      <span
                        *ngIf="parent.children"
                        class="ml-auto sidebar-menu-toggle-icon"
                      ></span>
                    </a>
                    <ul
                      *ngIf="parent.children"
                      class="sidebar-submenu collapse {{
                        collapseMenuItems[i]
                      }}"
                      id="dashboards_menu"
                    >
                      <li
                        class="sidebar-menu-item active"
                        *ngFor="let child of parent.children"
                      >
                        <a class="sidebar-menu-button" href="{{ child.link }}">
                          <span class="sidebar-menu-text">{{
                            child.title
                          }}</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
