<!--style guide block start-->
<div class="style-guide" *ngIf="language">
  <!--features grid section start-->
  <section class="feature-section pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="section-heading text-center">
            <h2>{{ language.featureSectionTitle }}</h2>
            <p>
              KidsNode je nova generacija software-a koja na najbolji mogući
              način optimizuje rad vaših zaposlenih i Vas, stedeći vam vreme i
              novac!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="feature-grid">
            <div
              class="feature-card border border-light bg-white shadow-sm highlight-card rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-primary mb-32">
                <i class="fa fa-user fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Više uloga u sistemu</h3>
                <p>
                  U zavisnosti od pozicije zaposlenog u vrtiću dodelite Vašem
                  zaposlenom različita prava u sistemu!
                </p>
                <p>
                  Na osnovu toga zaposlenom ce biti prikazani samo oni podaci
                  koji su namenjeni njemu i ulozi koju ima u sistemu!
                </p>
                <h6 class="mt-4">To uključuje sledeće uloge:</h6>
                <ul class="list-unstyled mb-0">
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Vlasnik
                    vrtića
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Direktor
                    vrtića
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Vaspitač
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Administrativni radnik
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Zdravstveni radnik(logoped, pedagog, psihijatar, pedijatar)
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Kuvar/Nutricionista
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-success mb-32">
                <i class="fa fa-rocket fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Automatizovani procesi</h3>
                <p class="mb-0">
                  Pametni automatizovani procesi koji rade umesto Vas i štede
                  Vam vreme!
                </p>
              </div>
              <!-- <a
                  href="service-single.html"
                  class="link-with-icon text-decoration-none mt-3"
                  >Pogledaj detaljnije <i class="far fa-arrow-right"></i
                ></a> -->
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-danger mb-32">
                <i class="fa fa-chart-line fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Statistika</h3>
                <p class="mb-0">
                  Podaci u realnom vremenu kao i stastistički podaci su sada na
                  dohvat ruke...
                </p>
              </div>
              <!-- <a
                  href="service-single.html"
                  class="link-with-icon text-decoration-none mt-3"
                  >Pogledaj detaljnije <i class="far fa-arrow-right"></i
                ></a> -->
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-dark mb-32">
                <i class="fa fa-calendar-check fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Evidencija prisutnosti dece</h3>
                <p class="mb-0">
                  Jednim klikom evidentirajte ukoliko dete nije prisutno u
                  vrtiću!
                </p>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-warning mb-32">
                <i class="fa fa-clock fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Prijava prilikom dolaska na posao</h3>
                <p class="mb-0">
                  Pogledajte informaciju o svakom zaposlenom kada je došao i
                  otišao sa posla...
                </p>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-danger mb-32">
                <i class="fa fa-dollar-sign fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Uplate</h3>
                <p class="mb-0">
                  Efikasno upravljanje uplatama i fakturama, kao i generisanje
                  istih.
                </p>
              </div>
              <!-- <a
                  href="service-single.html"
                  class="link-with-icon text-decoration-none mt-3"
                  >Pogledaj detaljnije <i class="far fa-arrow-right"></i
                ></a> -->
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-primary mb-32">
                <i class="fa fa-calendar fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Planeri</h3>
                <p class="mb-0">
                  Planiranje dnevnih aktivnosti, kao i aktivnosti rada!
                </p>
              </div>
              <!-- <a
                  href="service-single.html"
                  class="link-with-icon text-decoration-none mt-3"
                  >Pogledaj detaljnije <i class="far fa-arrow-right"></i
                ></a> -->
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-success mb-32">
                <i class="fa fa-carrot fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Ishrana</h3>
                <p class="mb-0">
                  Popis svih jela, kao i izrada jelovnika na nedeljenom nivou!
                </p>
              </div>
              <!-- <a
                  href="service-single.html"
                  class="link-with-icon text-decoration-none mt-3"
                  >Pogledaj detaljnije <i class="far fa-arrow-right"></i
                ></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--features grid section end-->
</div>
<!--style guide block end-->
