<ejs-chart
  style="display: block"
  [chartArea]="chartArea"
  [width]="width"
  align="center"
  id="chartcontainer"
  [primaryXAxis]="primaryXAxis"
  [primaryYAxis]="primaryYAxis"
  [title]="title"
  [tooltip]="tooltip"
  (load)="load($event)"
>
  <e-series-collection>
    <e-series
      [dataSource]="data"
      type="Column"
      xName="x"
      yName="y"
      name="Gold"
      width="2"
      [marker]="marker"
    >
    </e-series>
    <e-series
      [dataSource]="data1"
      type="Column"
      xName="x"
      yName="y"
      name="Silver"
      width="2"
      [marker]="marker"
    >
    </e-series>
    <e-series
      [dataSource]="data2"
      type="Column"
      xName="x"
      yName="y"
      name="Bronze"
      width="2"
      [marker]="marker"
    >
    </e-series>
  </e-series-collection>
</ejs-chart>
