<div *ngIf="loader" style="height: 48vh">
  <app-loader-content></app-loader-content>
</div>

<div class="refresh-chart">
  <a class="text-muted" (click)="refresh()">
    <mat-icon
      role="img"
      aria-hidden="false"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font"
      >refresh</mat-icon
    >
  </a>
</div>

<div class="outer" *ngIf="!data || !data.length" style="height: 48vh">
  <div class="middle">
    <div class="inner">
      <mat-icon aria-hidden="false" class="no-data-chart text-muted"
        >query_stats</mat-icon
      >
      <h6 class="text-muted">{{ language.noInputDataForShowCurrent }}</h6>
    </div>
  </div>
</div>

<ejs-chart
  *ngIf="!loader && data.length"
  style="display: block"
  [chartArea]="config?.chartArea"
  [width]="config?.width"
  align="center"
  id="{{ id }}"
  [primaryXAxis]="config?.primaryXAxis"
  [primaryYAxis]="config?.primaryYAxis"
  [tooltip]="config?.tooltip"
  (load)="load($event)"
  [palettes]="config?.palette"
>
  <e-series-collection>
    <e-series
      [dataSource]="data"
      type="{{ type ? type : 'Pie' }}"
      xName="{{ config?.xName }}"
      yName="{{ config?.yName }}"
      name="{{ config?.name }}"
      width="2"
      [marker]="config?.marker"
      [cornerRadius]="config?.radius"
    >
    </e-series>
  </e-series-collection>
</ejs-chart>
