<div *ngIf="loader" style="height: 48vh">
  <app-loader-content></app-loader-content>
</div>

<div class="refresh-chart">
  <a class="text-muted" (click)="refresh()">
    <mat-icon
      role="img"
      aria-hidden="false"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font"
      >refresh</mat-icon
    >
  </a>
</div>

<ejs-chart
  *ngIf="!loader"
  style="display: block"
  [chartArea]="config?.chartArea"
  [width]="config?.width"
  align="center"
  id="{{ id }}"
  [primaryXAxis]="config?.primaryXAxis"
  [primaryYAxis]="config?.primaryYAxis"
  [title]="config?.title"
  [tooltip]="config?.tooltip"
  (load)="load($event)"
>
  <e-series-collection>
    <e-series
      [dataSource]="data"
      type="{{ type ? type : 'Column' }}"
      xName="{{ config?.xName }}"
      yName="{{ config?.yName }}"
      name="{{ config?.name }}"
      width="2"
      [marker]="config?.marker"
      [cornerRadius]="config?.radius"
    >
    </e-series>
  </e-series-collection>
</ejs-chart>
