<div *ngIf="loader" style="height: 70vh">
  <app-loader></app-loader>
</div>

<ejs-schedule
  *ngIf="!loader"
  width="100%"
  [height]="height"
  [views]="config?.views"
  [eventSettings]="eventSettings"
  [showQuickInfo]="config?.showQuickInfo"
  (popupOpen)="onPopupOpen($event)"
  (actionComplete)="actionComplete($event)"
>
  <ng-template #editorTemplate let-data>
    <div ngForm>
      <app-dynamic-forms [config]="configField" #form="dynamicForm">
      </app-dynamic-forms>
    </div>
  </ng-template>
</ejs-schedule>
