<div *ngIf="loader" style="height: 70vh">
  <app-loader></app-loader>
</div>
<div *ngIf="!loader">
  <ejs-tab
    *ngIf="config.config && config.config.length > 0"
    #tabObj
    id="tab_default"
  >
    <e-tabitems>
      <e-tabitem [header]="title">
        <ng-template #content>
          <div class="pt-2">
            <app-dynamic-forms
              [config]="config"
              (submit)="submitEmitter($event)"
              #form="dynamicForm"
            >
            </app-dynamic-forms>
          </div>
        </ng-template>
      </e-tabitem>
      <e-tabitem [header]="title2">
        <ng-template #content>
          <div class="pt-2">
            <ejs-uploader
              #defaultupload
              [autoUpload]="false"
              [asyncSettings]="asyncSettings"
              [autoUpload]="config.autoUpload"
              (uploading)="onUploadBegin($event)"
            ></ejs-uploader>

            <!-- <div class="back-to-basic-info position-end mt-3">
              <button
                ejs-button
                (click)="backToInfoData()"
                [class]="'e-btn e-info button-action'"
              >
                {{ language.back }}
              </button>
            </div> -->
          </div>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>

  <div *ngIf="config.config === undefined || config.config.length === 0">
    <ejs-uploader
      #defaultupload
      [asyncSettings]="asyncSettings"
      [autoUpload]="config.autoUpload"
      (uploading)="onUploadBegin($event)"
    ></ejs-uploader>
  </div>
</div>
