<div
  *ngIf="
    config?.actionButtons.simpleButtons &&
    config?.actionButtons.simpleButtons.length > 0
  "
  class="{{ config?.actionButtons.class }}"
>
  <button
    *ngFor="let item of config?.actionButtons.simpleButtons"
    (click)="clickAction(item.action)"
  >
    {{ item.title }}
  </button>
</div>

<div
  *ngIf="config?.actionButtons.dropDownButtons && itemsModelDropDown.length > 0"
  class="{{ config?.actionButtons.class }}"
>
  <button
    ejs-dropdownbutton
    content="{{ config?.actionButtons.dropDownButtons.content }}"
    [items]="itemsModelDropDown"
    (select)="clickAction($event)"
  ></button>
</div>
<div
  *ngIf="config?.actionButtons.splitButtons && itemsModelSplit.length > 0"
  class="{{ config?.actionButtons.class }}"
>
  <ejs-splitbutton
    content="{{ config?.actionButtons.splitButtons.content }}"
    [items]="itemsModelSplit"
    (select)="clickAction($event)"
  ></ejs-splitbutton>
</div>

<div *ngIf="checkComponentType() && modal">
  <app-dynamic-forms
    *ngIf="config.config && config.config.length > 0"
    [config]="config"
    [data]="data"
    [hideActionButtons]="true"
    (submit)="submitEmitter($event)"
    #form="dynamicForm"
  >
  </app-dynamic-forms>
</div>
