<div *ngIf="loader" style="height: 70vh">
  <app-loader></app-loader>
</div>

<ejs-accumulationchart
  *ngIf="!loader"
  #pie
  [legendSettings]="legendSettings"
  [tooltip]="tooltip"
  (load)="load($event)"
  [enableAnimation]="enableAnimation"
  [center]="center"
>
  <e-accumulation-series-collection>
    <e-accumulation-series
      name="{{ config?.name }}"
      [dataSource]="data"
      xName="{{ config?.xName }}"
      yName="{{ config?.yName }}"
      [startAngle]="startAngle"
      [endAngle]="endAngle"
      innerRadius="0%"
      radius="70%"
      [dataLabel]="dataLabel"
      [explode]="explode"
      explodeOffset="10%"
      [explodeIndex]="0"
    >
    </e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart>
