<div *ngIf="loader" style="height: 48vh">
  <app-loader-content></app-loader-content>
</div>

<div class="refresh-chart">
  <a class="text-muted" (click)="refresh()">
    <mat-icon
      role="img"
      aria-hidden="false"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      data-mat-icon-type="font"
      >refresh</mat-icon
    >
  </a>
</div>

<div
  class="outer"
  *ngIf="(!data || !data.length) && !loader"
  style="height: 48vh"
>
  <div class="middle">
    <div class="inner">
      <mat-icon aria-hidden="false" class="no-data-chart text-muted"
        >query_stats</mat-icon
      >
      <h6 class="text-muted">{{ language.noInputDataForShowCurrent }}</h6>
    </div>
  </div>
</div>

<ejs-accumulationchart
  *ngIf="!loader"
  id="container{{ id }}"
  #pie
  style="display: block; width: 92%"
  [legendSettings]="config?.legendSettings"
  [tooltip]="config?.tooltip"
  (load)="load($event)"
  [enableAnimation]="enableAnimation"
  [center]="center"
  [palettes]="palette"
>
  <e-accumulation-series-collection>
    <e-accumulation-series
      name="{{
        language[config?.name] ? language[config?.name] : config?.name
      }}"
      [dataSource]="data"
      xName="{{ config?.xName }}"
      yName="{{ config?.yName }}"
      [startAngle]="startAngle"
      [endAngle]="endAngle"
      innerRadius="0%"
      radius="70%"
      [dataLabel]="dataLabel"
      [explode]="explode"
      explodeOffset="10%"
      [explodeIndex]="0"
      [palettes]="config?.palette"
    >
    </e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart>
