/*feature grid style*/
.feature-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  transition: all 0.3s ease-in-out;
}
.highlight-card {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  display: block;
}

.feature-icon {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
}

.feature-card.border:hover {
  border-color: var(--bs-primary) !important;
  transition: all 0.3s ease-in-out;
  background: transparent;
}
@media (min-width: 767px) and (max-width: 992px) {
  .feature-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .feature-grid {
    grid-template-columns: 1fr;
  }
}
.border-line-style {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: var(--bs-primary-soft);
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
}
.border-line {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  width: 2px;
  height: 65px;
  margin-top: 0;
  margin-left: -1px;
  background-color: var(--bs-primary);
}

/*feature with image bg*/
.feature-bg-mockup {
  position: absolute;
  opacity: 0.35;
  -o-object-fit: cover;
  object-fit: cover;
}

/*feature tab list*/
.feature-tab-list li a {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--bs-font-monospace);
  color: var(--bs-dark);
  border-radius: 6px 6px 0 0;
}
.feature-tab-list li a.active {
  background: var(--bs-dark);
  color: var(--bs-white);
}
.feature-tab-list-2 li a {
  border: 2px solid rgba(216, 216, 216, 0.2);
  background: rgba(216, 216, 216, 0.25);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--bs-font-monospace);
  color: var(--body-color);
  margin-right: 15px;
  transition: all 0.3s ease;
}
.feature-tab-list-2 li a:hover {
  background: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-white);
}
.feature-tab-list-2 li a.active {
  background: var(--bs-primary);
  color: var(--bs-white);
  border-color: var(--bs-primary);
}
.feature-tab-list-2 li:last-child a {
  margin-right: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .feature-tab-list-2 {
    justify-content: start !important;
  }
  .feature-tab-list-2 li {
    margin: 5px 0;
  }
}

.display-5 {
  font-size: 3rem;
}
