<app-home-navigation-menu></app-home-navigation-menu>

<!--style guide block start-->
<div class="style-guide">
  <!--feature section three start-->
  <section class="feature-section soft-bg ptb-120">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-12">
          <div class="feature-subtitle">
            <h5 class="h6 text-primary">Želite vecu kontrolu nad vrtićem?</h5>
            <h2>
              Dizajnirali smo sistem pomoću koga možete sve u par klikova!
            </h2>
            <p>
              KidsNode je dizajniran od nule tako da u potpunosti odgovori na
              potrebe efikasnijeg upravljanja kako vlasnika/direktora, tako i
              zaposlenih koji rade u njemu i da pruži kvalitetne i potpune
              informacije roditeljima čija deca borave u vrtiću!
            </p>
          </div>
          <div class="row mt-5">
            <div class="col-12 col-md-6">
              <h6 class="fw-bold display-5 text-primary mb-4">99%</h6>
              <h3 class="h5">Vreme dostupnosi aplikacije</h3>
              <p>
                KidsNode će vam biti dostupan u svakom trenutku, tako da, bilo
                da li se nalazite u vrtiću ili van njega, možete da imate punu
                kontrolu nad vašim poslovanjem i da u svakom trenutku znate šta
                se dešava u vašoj organizaciji!
              </p>
            </div>
            <div class="col-12 col-md-6">
              <h6 class="fw-bold display-5 text-primary mb-4">101%</h6>
              <h3 class="h5">Odgovornosti</h3>
              <p>
                Ponosni smo na cinjenicu da 95% vrtića posle demo verzije krene
                da koristi naš sistem. Ukoliko u nekom trenutku nakon toga ne
                budete zadovoljni, bez brige, možete da otkažete korišćenje i
                vraćamo vam novac!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-10">
          <div class="feature-img mt-5 mt-lg-0">
            <img
              src="./assets/home/8.png"
              class="img-fluid rounded-custom shadow"
              alt="feature image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature section three end-->
</div>
<!--style guide block end-->

<!--style guide block start-->
<div class="style-guide">
  <!--feature section start-->
  <section class="feature-section ptb-120">
    <div class="container">
      <div
        class="feature-color bg-primary-soft px-5 rounded-custom position-relative"
      >
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-5 col-md-12">
            <div
              class="feature-content-wrap pe-lg-4 ptb-60 p-lg-0 mb-5 mb-lg-0"
            >
              <h5 class="text-primary h6 fw-bold">
                Nova tehnologija i moderan dizajn
              </h5>
              <h2>KidsNode je Cloud aplikacija, sve je online!</h2>
              <p>
                KidsNode je tip aplikacije koji se izvršava u "oblaku". Ovo
                znači da su svi vaši podaci smešteni na serverima i dostupni u
                svakom trenutku, bez obzira da li se nalazite u vrtiću ili van
                njega. Na ovaj način imate potpunu mobilnost i sigurnost.
              </p>

              <a href="#" class="btn btn-primary mt-4">Learn More</a>
            </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div
              class="row align-items-center justify-content-center position-relative mt--100 z-2"
            >
              <div class="col-md-6">
                <div
                  class="cta-card rounded-custom text-center shadow p-5 bg-white my-4"
                >
                  <div class="feature-icon d-inline-block bg-dark rounded mb-4">
                    <i class="fa fa-laptop text-white fa-2x"></i>
                  </div>
                  <h3 class="h5 fw-bold">Dostupno za sve uređaje</h3>
                  <p class="mb-0">
                    KidsNode je dostupan za sve uređaje, bez obzira na
                    operativni sistem! KidsNode možete koristiti na
                    računarima(Windows/Linux/iOS), telefonima(Android/iOS), pa
                    čak i na pametnim televizorima!
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="cta-card rounded-custom text-center shadow p-5 bg-white my-4"
                >
                  <div
                    class="feature-icon d-inline-block bg-danger rounded mb-4"
                  >
                    <i class="fa fa-bezier-curve text-white fa-2x"></i>
                  </div>
                  <h3 class="h5 fw-bold">Bez instalacije</h3>
                  <p class="mb-0">
                    Za KidsNode nije potrebna nikakva instalacija na vašim
                    uređajima. Neophodno je samo da otvorite nalog popunjavanjem
                    <a routerLink="/request-demo">forme</a> i to je sve!
                  </p>
                </div>
                <div
                  class="cta-card rounded-custom text-center shadow p-5 bg-white my-4"
                >
                  <div
                    class="feature-icon d-inline-block bg-success rounded mb-4"
                  >
                    <i class="fa fa-lock text-white fa-2x"></i>
                  </div>
                  <h3 class="h5 fw-bold">Sigurnost i dostupnost</h3>
                  <p class="mb-0">
                    O sigurnosti i dostupnosti vaših podataka ne morate da
                    vodite računa. To je naša briga!
                  </p>
                </div>
              </div>
              <!--animated shape start-->
              <ul
                class="position-absolute animate-element parallax-element z--1"
              >
                <li class="layer" data-depth="0.06">
                  <img
                    src="./assets/home/shape/shape-bg-3.svg"
                    alt="shape"
                    class="img-fluid"
                  />
                </li>
              </ul>
              <!--animated shape end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature section end-->
</div>
<!--style guide block end-->

<!--style guide block start-->
<div class="style-guide">
  <!--features grid section start-->
  <section class="feature-section pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="section-heading text-center">
            <h2>Servisi vam štede vreme i povećavaju efikasnost</h2>
            <p>
              KidsNode je nova generacija software-a koja na najbolji mogući
              način optimizuje rad vaših zaposlenih i Vas, stedeći vam vreme i
              novac!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="feature-grid">
            <div
              class="feature-card border border-light bg-white shadow-sm highlight-card rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-primary mb-32">
                <i class="fa fa-user fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Više uloga u sistemu</h3>
                <p>
                  U zavisnosti od pozicije zaposlenog u vrtiću dodelite Vašem
                  zaposlenom različita prava u sistemu!
                </p>
                <p>
                  Na osnovu toga zaposlenom ce biti prikazani samo oni podaci
                  koji su namenjeni njemu i ulozi koju ima u sistemu!
                </p>
                <h6 class="mt-4">To uključuje sledeće uloge:</h6>
                <ul class="list-unstyled mb-0">
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Vlasnik
                    vrtića
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Direktor
                    vrtića
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i>Vaspitač
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Administrativni radnik
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Zdravstveni radnik(logoped, pedagog, psihijatar, pedijatar)
                  </li>
                  <li class="py-1">
                    <i class="fa fa-check-circle mr-2 text-primary"></i
                    >Kuvar/Nutricionista
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-success mb-32">
                <i class="fa fa-rocket fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Automatizovani procesi</h3>
                <p class="mb-0">
                  Pametni automatizovani procesi koji rade umesto Vas i štede
                  Vam vreme!
                </p>
              </div>
              <a
                href="service-single.html"
                class="link-with-icon text-decoration-none mt-3"
                >Pogledaj detaljnije <i class="far fa-arrow-right"></i
              ></a>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-danger mb-32">
                <i class="fa fa-chart-line fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Statistika</h3>
                <p class="mb-0">
                  Podaci u realnom vremenu kao i stastistički podaci su sada na
                  dohvat ruke...
                </p>
              </div>
              <a
                href="service-single.html"
                class="link-with-icon text-decoration-none mt-3"
                >Pogledaj detaljnije <i class="far fa-arrow-right"></i
              ></a>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-dark mb-32">
                <i class="fa fa-calendar-check fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Evidencija prisutnosti dece</h3>
                <p class="mb-0">
                  Jednim klikom evidentirajte ukoliko dete nije prisutno u
                  vrtiću!
                </p>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-warning mb-32">
                <i class="fa fa-clock fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Prijava prilikom dolaska na posao</h3>
                <p class="mb-0">
                  Pogledajte informaciju o svakom zaposlenom kada je došao i
                  otišao sa posla...
                </p>
              </div>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-danger mb-32">
                <i class="fa fa-dollar-sign fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Uplate</h3>
                <p class="mb-0">
                  Efikasno upravljanje uplatama i fakturama, kao i generisanje
                  istih.
                </p>
              </div>
              <a
                href="service-single.html"
                class="link-with-icon text-decoration-none mt-3"
                >Pogledaj detaljnije <i class="far fa-arrow-right"></i
              ></a>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-primary mb-32">
                <i class="fa fa-calendar fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Planeri</h3>
                <p class="mb-0">
                  Planiranje dnevnih aktivnosti, kao i aktivnosti rada!
                </p>
              </div>
              <a
                href="service-single.html"
                class="link-with-icon text-decoration-none mt-3"
                >Pogledaj detaljnije <i class="far fa-arrow-right"></i
              ></a>
            </div>
            <div
              class="feature-card border border-light border-2 bg-white rounded-custom p-5"
            >
              <div class="feature-icon rounded bg-success mb-32">
                <i class="fa fa-carrot fa-2x text-white"></i>
              </div>
              <div class="feature-content">
                <h3 class="h5">Ishrana</h3>
                <p class="mb-0">
                  Popis svih jela, kao i izrada jelovnika na nedeljenom nivou!
                </p>
              </div>
              <a
                href="service-single.html"
                class="link-with-icon text-decoration-none mt-3"
                >Pogledaj detaljnije <i class="far fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--features grid section end-->
</div>
<!--style guide block end-->

<!-- subscribe scrtion start -->
<app-subscribe-section></app-subscribe-section>
<!-- subscribe scrtion end -->

<!--footer section start-->
<footer class="footer-section">
  <app-footer-section></app-footer-section>
  <app-home-footer></app-home-footer>
</footer>
<!--footer section end-->
