<div
  *ngIf="!config?.schedule"
  [ngClass]="[config.width]"
  [formGroup]="group"
  class="form-group"
>
  <label *ngIf="config?.title" class="custom-label">{{
    language[config?.title] ? language[config?.title] : config?.title
  }}</label>
  <ejs-combobox
    cssClass="{{ config.class }}"
    [id]="config.name"
    [type]="config.type"
    [dataSource]="data"
    [fields]="config.field"
    [placeholder]="config.placeholder ? config.placeholder : ''"
    [allowFiltering]="config.fieldConfig?.filter"
    [ignoreAccent]="config.fieldConfig?.ignoreAccent"
    [filterBarPlaceholder]="config.fieldConfig?.filterPlaceholder"
    [formControlName]="config.name"
  ></ejs-combobox>
</div>

<div *ngIf="config?.schedule" [ngClass]="[config.width]">
  <label *ngIf="config?.schedule?.title" class="custom-label">{{
    language[config?.schedule?.title]
      ? language[config?.schedule?.title]
      : config?.schedule?.title
  }}</label>
  <div class="e-input-group e-control-wrapper e-outline e-ddl e-valid-input">
    <select
      name="{{ config.name }}"
      id="{{ config.name }}"
      class="custom-combo {{ config?.schedule?.class }}"
    >
      <option
        *ngFor="let item of data"
        value="{{ item[config.field.value] }}"
        class="p-2"
      >
        {{ item[config.field.text] }}
      </option>
    </select>
  </div>
</div>
