<div class="p-4">
  <div class="row">
    <div class="col-md-4 pb-3">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">{{ language.welcomeTitle }}</h5>
                <p>{{ getTodayDate() }}</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/profile-icon/2.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/avatar-1.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
              <h5 class="font-size-15 text-truncate">Henry Price</h5>
              <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">125</h5>
                    <p class="text-muted mb-0">Projects</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">$1245</h5>
                    <p class="text-muted mb-0">Revenue</p>
                  </div>
                </div>
                <div class="mt-4">
                  <a
                    href="javascript: void(0);"
                    class="button-action e-btn e-control e-info"
                    >View Profile <i class="mdi mdi-arrow-right ms-1"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!loader && config.widgets"
      class="col-md-8"
      [ngClass]="config.widgets ? 'pb-4' : ''"
    >
      <app-widgets [config]="config"></app-widgets>
    </div>
  </div>

  <div *ngIf="!loader">
    <div *ngIf="config.charts" class="row">
      <div
        *ngFor="let item of config.charts"
        class="{{ item.width ? item.width : 'col-md-12' }}  mb-4"
      >
        <div>
          <div class="card">
            <div class="card-body" style="position: relative">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="card-title mb-4 text-muted">
                    {{
                      language[item.title] ? language[item.title] : item.title
                    }}
                  </h4>
                </div>
                <div class="refresh-chart">
                  <a class="text-muted">
                    <mat-icon
                      role="img"
                      aria-hidden="false"
                      class="mat-icon notranslate material-icons mat-icon-no-color"
                      data-mat-icon-type="font"
                      >refresh</mat-icon
                    >
                  </a>
                </div>
              </div>
              <div id="stacked-column-chart" class="apex-charts">
                <app-dynamic-pie
                  *ngIf="item.type === 'pie'"
                  [config]="item"
                ></app-dynamic-pie>
                <app-dynamic-column
                  *ngIf="item.type === 'column'"
                ></app-dynamic-column>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
