<app-home-navigation-menu
  [language]="language"
  (sendEventForChangeLanguage)="sendEventForChangeLanguage($event)"
></app-home-navigation-menu>

<!--pricing section start-->
<section class="pricing-section pt-60 position-relative z-2" *ngIf="language">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">{{ language.priceSectionUpText }}</h4>
          <h2>{{ language.priceSectionTitle }}</h2>
          <p>
            {{ language.priceSectionText }}
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-primary-soft rounded-circle d-block mr-3"
          >
            <i class="fa fa-credit-card text-primary"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionNoNeedCreditCard }}
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div
            class="icon-box mb-0 bg-success-soft rounded-circle d-block mr-3"
          >
            <i class="fa fa-calendar-check text-success"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionTryPeriod }}
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="media d-flex align-items-center py-2 p-sm-2">
          <div class="icon-box mb-0 bg-danger-soft rounded-circle d-block mr-3">
            <i class="fa fa-calendar-times text-danger"></i>
          </div>
          <div class="media-body fw-medium h6 mb-0">
            {{ language.priceSectionAnytimeCancel }}
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-primary d-block">Stater</h3>
            <h4 class="display-6 fw-semi-bold">$25<span>/mesečnonth</span></h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 1 Team
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 1
                Installed Agent
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Real-Time
                Feedback
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Video
                Dedicated Support
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 1
                Attacked Targets Per Month
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Team
                Collaboration Tools
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Automated
                Updated Features
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 24/7 Life
                time Support
              </li>
            </ul>
          </div>
          <a href="request-demo.html" class="btn btn-outline-primary mt-2"
            >Buy Now</a
          >

          <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
            <img src="./assets/home/shape/dot-big-square.svg" alt="shape" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-dark text-white p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-warning d-block">Advanced</h3>
            <h4 class="display-6 fw-semi-bold">$45<span>/mesečnonth</span></h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> 5 Team
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> 3
                Installed Agent
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Real-Time
                Feedback
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Video
                Dedicated Support
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> 24
                Attacked Targets Per Month
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Team
                Collaboration Tools
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> Automated
                Updated Features
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-warning me-2"></i> 24/7 Life
                time Support
              </li>
            </ul>
          </div>
          <a href="request-demo.html" class="btn btn-primary mt-2">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0"
        >
          <div class="pricing-header mb-32">
            <h3 class="package-name text-primary d-block">Premium</h3>
            <h4 class="display-6 fw-semi-bold">$75<span>/mesečnonth</span></h4>
          </div>
          <div class="pricing-info mb-4">
            <ul class="pricing-feature-list list-unstyled">
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 6 Team
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 8
                Installed Agent
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Real-Time
                Feedback
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Video
                Dedicated Support
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 40
                Attacked Targets Per Month
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Team
                Collaboration Tools
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> Automated
                Updated Features
              </li>
              <li>
                <i class="fas fa-circle fa-2xs text-primary me-2"></i> 24/7 Life
                time Support
              </li>
            </ul>
          </div>
          <a href="request-demo.html" class="btn btn-outline-primary mt-2"
            >Buy Now</a
          >

          <div class="dot-shape-bg position-absolute z--1 right--40 top--40">
            <img src="./assets/home/shape/dot-big-square.svg" alt="shape" />
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!--pricing section end-->

<div>
  <h3 class="text-center">{{ language.priceSectionHowManyChildren }}</h3>
  <h5 class="text-center selected-range">
    <img class="arrow-down-price" src="./assets/icons/arrow-down-bangi.gif" />{{
      language.priceSectionSelectionNumberOfChildren
    }}
  </h5>
  <div class="row number-of-children mt-4">
    <div
      *ngFor="let item of prices; let i = index"
      class="col-md-2 {{ i < 6 ? 'border-right' : '' }} {{
        i === selectedPackage ? 'active' : ''
      }}"
      (click)="selectPackage(i)"
    >
      {{ item.count }}
    </div>
    <!-- <div class="col-sm-2 border-right">0-50</div>
    <div class="col-sm-2 border-right">51-100</div>
    <div class="col-sm-2 border-right">101-200</div>
    <div class="col-sm-2 border-right">201-350</div>
    <div class="col-sm-2 border-right">351-500</div>
    <div class="col-sm-2">501-~</div> -->
  </div>
</div>

<div>
  <div class="price-tab mt-5">
    <div class="row m-0 pt-4 pb-4">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div style="text-align: center">
          <div>
            <div class="font-18-white-sb">
              {{ prices[selectedPackage].count }}
              {{ language.priceSectionChildrens }}
            </div>
            <div class="annual-price" style="display: none">
              <div class="font-36-white-sb">€</div>
              <div class="font-80-white-sb">
                {{ prices[selectedPackage].price }}
              </div>
              <div class="font-20-white-sb-price">
                /{{ language.priceSectionMonth }}
              </div>
            </div>
            <div class="monthly-price-2" style="display: flex">
              <div class="font-36-white-sb">€</div>
              <div class="font-80-white-sb">
                {{ prices[selectedPackage].price }}
              </div>
              <div class="font-20-white-sb-price">
                /{{ language.priceSectionMonth }}
              </div>
            </div>
            <!-- <div class="font-14-white-barokah" style="display: none">
            Save $12/mesečno!
          </div> -->
          </div>
          <img
            src="./assets/home/children-group/{{ selectedPackage + 1 }}.png"
            alt=""
            class="site-image"
          />
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 pt-4 pb-5">
        <div class="check-list-box">
          <ul role="list" class="check-list new w-list-unstyled">
            <li class="check-list-item new">
              <img
                src="https://assets-global.website-files.com/5b71d8d18f97f2123be6a81c/5cbdf415505f3e78334d650f_Check%20Circle.png"
                width="20"
                alt="White Check
"
              />
              <div class="spacer-column-10"></div>
              <div>{{ language.priceSectionItem1 }}</div>
            </li>
            <li class="check-list-item new">
              <img
                src="https://assets-global.website-files.com/5b71d8d18f97f2123be6a81c/5cbdf415505f3e78334d650f_Check%20Circle.png"
                width="20"
                alt="White Check
"
              />
              <div class="spacer-column-10"></div>
              <div>{{ language.priceSectionItem2 }}</div>
            </li>
            <li class="check-list-item new">
              <img
                src="https://assets-global.website-files.com/5b71d8d18f97f2123be6a81c/5cbdf415505f3e78334d650f_Check%20Circle.png"
                width="20"
                alt="White Check
"
              />
              <div class="spacer-column-10"></div>
              <div>{{ language.priceSectionItem3 }}</div>
            </li>
            <li class="check-list-item new">
              <img
                src="https://assets-global.website-files.com/5b71d8d18f97f2123be6a81c/5cbdf415505f3e78334d650f_Check%20Circle.png"
                width="20"
                alt="White Check
"
              />
              <div class="spacer-column-10"></div>
              <div>
                <strong>{{ language.priceSectionItem4 }}</strong>
              </div>
            </li>
          </ul>
          <div class="spacer-row-20"></div>
          <div class="price-box-inner new pt-4">
            <!-- <a routerLink="/request-demo" class="button green big w-button">{{
              language.priceSectionTryFreeButton
            }}</a> -->
            <div class="spacer-row-10"></div>
            <div class="font-14-white-sb mt-2">
              {{ language.priceSectionTryNoNeedCreditCardLabel }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-feature-section [language]="language"></app-feature-section>

<app-subscribe-section [language]="language"></app-subscribe-section>

<footer class="footer-section">
  <app-footer-section></app-footer-section>
  <app-home-footer></app-home-footer>
</footer>
