<div [ngClass]="[config.width]" [formGroup]="group" class="form-group">
  <label *ngIf="config?.title" class="custom-label">
    {{
      language[config?.title] ? language[config?.title] : config?.title
    }}</label
  >
  <ul class="radio-button-ul">
    <li class="radio-button-li" *ngFor="let item of config.itemFields">
      <ejs-radiobutton
        label="{{ language[item.title] ? language[item.title] : item.title }}"
        name="{{ config.name }}"
        value="{{ item.value }}"
        [id]="config.name"
        [formControlName]="config.name"
        [disabled]="config.disabled!"
        [readonly]="config.readonly!"
      ></ejs-radiobutton>
    </li>
  </ul>
</div>
