.highcontrast
  .card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-header-image {
  border-color: #fff;
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-header-image {
  width: 98px;
  height: 93px;
  background-size: cover;
  border-style: solid;
  border-color: rgb(28 34 96);
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-header-caption.center,
.card-control-section.vertical_card_layout .e-card.profile .e-card-content {
  text-align: center;
}

.card-control-section.vertical_card_layout .e-card.profile .e-card-btn {
  height: 45px;
  width: 50px;
  background-color: transparent;
  border: none;
}

.e-card.selected {
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 2px 2px #1c2260;
}

.e-card.profile {
  cursor: pointer;
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-actions
  button.e-card-btn:hover,
.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-actions
  a:first-child:hover,
.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-actions
  button.e-card-btn,
.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-actions
  a:first-child {
  background: #ffff;
}

.card-control-section.vertical_card_layout .e-card .e-card-actions.center {
  justify-content: center;
  display: flex;
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-actions.center {
  background-color: transparent;
  border: none;
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-header
  .e-card-header-caption
  .e-card-sub-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.card-control-section.vertical_card_layout
  .e-card.profile
  .e-card-header
  .e-card-header-caption
  .e-card-header-title {
  font-size: 18px;
  font-weight: 500;
}

.card-control-section.vertical_card_layout
  .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
  width: 100%;
  padding: 10px;
}

.card-control-section.vertical_card_layout .card-layout {
  margin: auto;
  max-width: 400px;
}

@media (min-width: 870px) {
  .card-control-section.vertical_card_layout
    .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
    width: 50%;
  }

  .card-control-section.vertical_card_layout .card-layout {
    max-width: 870px;
  }
}

.e-card {
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 16%) !important;
}