<div *ngIf="!data" style="height: 70vh">
  <app-loader></app-loader>
</div>

<div
  *ngIf="data"
  class="col-lg-12 control-section card-control-section vertical_card_layout mt-3"
>
  <div class="options row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <h5>{{ language.recordsOfArrivalFor }} {{ getTodayDate() }}</h5>
    </div>
  </div>
  <div class="row e-sample-resize-container e-card-resize-container">
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-3"
      *ngFor="let item of data; let i = index"
    >
      <div
        tabindex="0"
        class="e-card profile {{ selectedChildren[i] }}"
        style="justify-content: flex-start"
        (click)="selectChildren(item.id, i)"
      >
        <div class="e-card-header">
          <div class="e-card-header-image e-card-corner">
            <app-avatar
              [name]="item.firstname + ' ' + item.lastname"
            ></app-avatar>
          </div>
        </div>
        <div class="e-card-header">
          <div class="e-card-header-caption center">
            <div class="e-card-header-title">
              {{ item.firstname }} {{ item.lastname }}
            </div>
          </div>
        </div>
        <div class="e-card-separator"></div>
        <div *ngIf="!loaderEvidence" class="e-card-actions center row m-0">
          <div class="e-input-group e-control-wrapper e-outline mb-2">
            <input
              value="{{ reason[item.id] }}"
              [(ngModel)]="reason[item.id]"
              class="e-control e-field e-input e-lib e-outline e-textbox"
              name="title_of_activity"
              type="textbox"
              placeholder="{{
                absenseEvidented[item.id]
                  ? !reason[item.id]
                    ? language.noEnteredReasonOfAbsense
                    : ''
                  : language.enterReasonOfAbsense
              }}"
            />
          </div>
          <button
            *ngIf="!absenseEvidented[item.id]"
            class="e-btn e-danger mb-2"
            title="recordAbsense"
            (click)="recordAbsenseSingle(item.id)"
          >
            <app-dynamic-icon [icon]="'edit_note'"></app-dynamic-icon>
            {{ language.recordAbsense }}
          </button>
          <button
            *ngIf="absenseEvidented[item.id]"
            class="e-btn e-success mb-2"
            title="evidentedAbsense"
            (click)="deleteRecordAbsenseSingle(item.id)"
          >
            <app-dynamic-icon [icon]="'beenhere'"></app-dynamic-icon>
            {{ language.evidentedAbsense }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
