<section class="login-area" *ngIf="language">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="../../../../assets/cover.jpg" alt="image" />
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo">
                <a href="index.html"
                  ><img src="../../../../assets/logo.png" alt="image"
                /></a>
              </div>
              <div class="login-container">
                <h5>{{ language.changeForgotPasswordForm }}</h5>
                <p *ngIf="notCorrect">
                  {{ language.notCorrectEqualPassword }}
                </p>
                <form (submit)="changePassword($event)">
                  <div class="form-group-login">
                    <input
                      type="password"
                      placeholder="{{ language.enterPassword }}"
                      class="form-control-login"
                      name="password"
                      [(ngModel)]="loginData.password"
                    />
                  </div>
                  <div class="form-group-login">
                    <input
                      type="password"
                      placeholder="{{ language.repetEnterPassword }}"
                      class="form-control-login"
                      name="password"
                      [(ngModel)]="loginData.repassword"
                    />
                  </div>
                  <button type="submit" class="default-btn">
                    <i class="bx bxs-hot"></i>{{ language.changePasswordButton
                    }}<span></span>
                  </button>
                </form>
                <p>
                  {{ language.haveAccount }}
                  <a class="signup-link" routerLink="../../../login">{{
                    language.loginButton
                  }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
