<ejs-tab #element *ngIf="config" id="tab_default">
  <e-tabitems>
    <e-tabitem *ngFor="let item of config" [header]="item.title">
      <ng-template #content *ngIf="item.type === 'grid'">
        <app-dynamic-grid
          [path]="item.path"
          [file]="item.file"
        ></app-dynamic-grid>
      </ng-template>
      <ng-template #content *ngIf="item.type === 'forms'">
        <app-dynamic-forms
          [path]="item.path"
          [file]="item.file"
        ></app-dynamic-forms>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
