<form #invoiceForm="ngForm">
  <div class="container-fluid pt-2 mb-5">
    <div>
      <div>
        <div class="card border-default">
          <div class="card-body">
            <h6 class="card-title text-muted">
              {{ language.invoiceCustomerDetails }}
            </h6>
            <div class="row">
              <div class="col-md-4">
                <label class="custom-label">{{
                  language.invoiceFullname
                }}</label>
                <div>
                  <input
                    type="textbox"
                    class="form-control"
                    name="name"
                    id="name"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.customerName"
                    #CustName="ngModel"
                    required
                  />
                </div>
              </div>

              <div class="col-md-4">
                <label class="custom-label">{{ language.invoiceEmail }}</label>
                <div>
                  <input
                    type="textbox"
                    class="form-control"
                    name="email"
                    id="email"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.email"
                    #CustName="ngModel"
                    required
                  />
                </div>
              </div>

              <div class="col-md-4">
                <label class="custom-label">{{ language.invoicePhone }}</label>
                <div>
                  <input
                    type="textbox"
                    class="form-control"
                    name="phone"
                    id="phone"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.phone"
                    #CustName="ngModel"
                    required
                  />
                </div>
              </div>

              <div class="col-md-12">
                <label class="custom-label">{{
                  language.invoiceAddress
                }}</label>
                <div>
                  <input
                    type="textbox"
                    class="form-control"
                    name="address"
                    id="address"
                    [ngClass]="{
                      'is-invalid': invoiceForm.submitted && CustName.invalid
                    }"
                    [(ngModel)]="invoice.address"
                    #CustName="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-default mt-2">
          <div class="card-body">
            <h6 class="card-title d-flex justify-content-between text-muted">
              {{ language.invoiceOrderDetails }}
              <button
                type="button"
                class="e-success e-control e-btn e-lib mr-2"
                (click)="addProduct()"
              >
                + {{language.invoiceAddNewProduct}}
              </button>
            </h6>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-muted" width="25%">
                      {{ language.invoiceProduct }}
                    </th>
                    <th class="text-muted" width="25%">
                      {{ language.invoicePrice }}
                    </th>
                    <th class="text-muted" width="25%">
                      {{ language.invoiceQuantity }}
                    </th>
                    <th class="text-muted" width="25%">
                      {{ language.invoiceAmount }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of invoice.products; let i = index">
                    <td scope="row">
                      <input
                        type="text"
                        class="form-control"
                        name="productName{{ i }}"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductName.invalid
                        }"
                        id="productName"
                        [(ngModel)]="product.name"
                        #ProductName="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="price{{ i }}"
                        id="price"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductPrice.invalid
                        }"
                        [(ngModel)]="product.price"
                        #ProductPrice="ngModel"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        name="quantity{{ i }}"
                        id="quantity"
                        [ngClass]="{
                          'is-invalid':
                            invoiceForm.submitted && ProductQty.invalid
                        }"
                        [(ngModel)]="product.qty"
                        #ProductQty="ngModel"
                        required
                      />
                    </td>
                    <td>
                      {{ product.price * product.qty || "" }}
                    </td>
                    <td>
                      <button
                        type="button"
                        class="e-danger e-control e-btn e-lib mr-2"
                        (click)="removeProduct(i)"
                      >
                        x
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-default mt-2">
          <div class="card-body">
            <h6 class="card-title text-muted">
              {{ language.invoiceAdditionalDetails }}
            </h6>
            <div class="form-group full-width">
              <textarea
                class="form-control"
                name="additionalDetails"
                rows="3"
                [(ngModel)]="invoice.additionalDetails"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right pt-4">
        <button
          type="button"
          class="button-action e-info e-control e-btn e-lib mr-2"
          (click)="invoiceForm.valid ? generatePDF('download') : ''"
        >
          {{ language.invoiceDownloadInvoice }}
        </button>
        <button
          type="button"
          class="button-action e-info e-control e-btn e-lib mr-2"
          (click)="invoiceForm.valid ? generatePDF('print') : ''"
        >
          {{ language.invoicePrintInvoice }}
        </button>
        <button
          type="submit"
          class="button-action e-info e-control e-btn e-lib"
          (click)="invoiceForm.valid ? generatePDF() : ''"
        >
          {{ language.invoiceOpenInvoice }}
        </button>
      </div>
    </div>
  </div>
</form>
