<div
  *ngIf="config.schedule === undefined"
  [ngClass]="[config.width]"
  [formGroup]="group"
  class="form-group"
>
  <label *ngIf="config?.title" class="custom-label">{{
    language[config?.title] ? language[config?.title] : config?.title
  }}</label>
  <ejs-textbox
    #default
    cssClass="{{ config.class }}"
    [id]="config.name"
    [type]="config.type"
    [placeholder]="config.placeholder ? config.placeholder : ''"
    [formControlName]="config.name"
    [readonly]="config.readonly"
    [disabled]="config.disabled!"
    [multiline]="config.multiline"
  ></ejs-textbox>
</div>

<div
  *ngIf="config.schedule"
  [ngClass]="[config?.width]"
  [formGroup]="group"
>
  <label *ngIf="config?.title" class="custom-label">{{
    language[config?.title]
      ? language[config?.title]
      : config?.title
  }}</label>
  <div class="e-input-group e-control-wrapper e-outline">
    <input
      class="{{ config?.class }}"
      value=""
      name="{{ config?.name }}"
      type="{{ config?.type }}"
    />
  </div>
</div>
