<div class="m-3">
  <div class="h-100 row">
    <div id="contentArea" class="h-100 col" style="opacity: 1">
      <div class="row-cols-1 row-cols-md-2 g-2 row">
        <div
          class="col mb-4 {{ checkRights(item.rights) ? '' : 'display-none' }}"
          *ngFor="let item of configuration"
        >
          <div class="hover-scale-up h-100 card">
            <div class="card-body">
              <div class="g-0 row">
                <div class="col-auto">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center border border-primary mb-4"
                  >
                    <mat-icon aria-hidden="false">{{ item.icon }}</mat-icon>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-column ps-card justify-content-start">
                    <div class="d-flex flex-column justify-content-center mb-2">
                      <a
                        class="heading text-primary stretched-link"
                        routerLink="{{ item.link }}"
                        >{{
                          language[item.title]
                            ? language[item.title]
                            : item.title
                        }}</a
                      >
                    </div>
                    <div class="text-alternate">
                      {{
                        language[item.description]
                          ? language[item.description]
                          : item.description
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
