.sticky-header {
  padding: 20px 0;
  transition: all 0.3s ease;
}
.affix {
  top: 0;
  left: 0;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 9999;
  animation: 300ms ease-in-out fadeInDown;
  background: var(--bs-dark);
  padding: 10px 0;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*dropdown menu css*/
.dropdown-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background: var(--bs-white);
}
.dropdown-grid.width-half {
  grid-template-columns: 1fr;
  width: 320px;
}

.dropdown-grid.width-full {
  grid-template-columns: 1fr 1fr;
  width: 650px;
}
.width-full-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}
.width-full-3 .dropdown-grid-item {
  width: 240px;
}
.dropdown-grid-item {
  width: auto;
  padding: 20px;
}
.width-full-3 .dropdown-grid-item.last-item {
  display: flex;
  flex-direction: column;
  width: auto;
  grid-column-start: span 2;
}
.radius-right-side {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.main-menu li.nav-item {
  position: relative;
}
.dropdown-menu {
  right: auto;
  left: 50% !important;
  transform: translate(-50%, 0);
}
.main-menu li.nav-item .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 0) rotate(-315deg);
  border-radius: 3px;
  background-color: var(--bs-white);
  opacity: 0;
  transition: all 0.3s ease;
}
.main-menu li.nav-item:hover .dropdown-menu:before {
  opacity: 1;
}

.main-menu li a.nav-link {
  padding: 0.85rem 1rem;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  font-family: var(--bs-font-monospace);
}
.navbar-dark {
  background: #0b163f;
}
.navbar-dark.affix {
  background: #fff;
}
.navbar-dark .main-menu li a.nav-link {
  color: var(--bs-secondary-dark);
}
.navbar-dark .action-btns a.btn-link {
  color: var(--bs-secondary-dark);
}

/*navbar-light*/
.navbar-light .main-menu li a.nav-link,
.navbar-light .action-btns a.btn-link,
.navbar-dark.sticky-header.affix .main-menu li a.nav-link,
.navbar-dark.sticky-header.affix .action-btns a.btn-link {
  color: var(--body-color);
}
.navbar-light.sticky-header.affix,
.navbar-dark.sticky-header.affix {
  background: var(--bs-white);
}
.navbar-light.sticky-header.affix .btn,
.navbar-dark.sticky-header.affix .btn,
.bg-dark .btn,
.coming-soon-section .btn {
  box-shadow: none;
}
.navbar-light .navbar-brand img.logo-white,
.navbar-dark .navbar-brand img.logo-color,
.navbar-dark.sticky-header.affix .navbar-brand img.logo-white {
  display: none;
}
.navbar-dark.sticky-header.affix .navbar-toggler span {
  color: var(--body-color);
}
.navbar-dark.sticky-header.affix .navbar-brand img.logo-color {
  display: block;
}

.main-menu li a.nav-link:hover,
.action-btns a.btn-link:hover,
.navbar-dark.sticky-header.affix .main-menu li a.nav-link:hover,
.navbar-dark.sticky-header.affix .action-btns a.btn-link:hover {
  color: var(--bs-primary);
}
.dropdown-grid-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.55rem 1rem !important;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.drop-heading {
  padding-left: 1rem;
  margin-bottom: 13px;
}
.drop-title {
  font-size: 14px;
  color: var(--body-color);
  font-weight: 500;
  font-family: var(--bs-font-monospace);
}
.dropdown-grid-item a:hover {
  background: var(--bs-light);
}
.dropdown-grid-item a span {
  opacity: 0.8;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.dropdown-grid-item a:hover .drop-title,
.dropdown-grid-item a:hover span {
  color: var(--bs-primary);
  opacity: 1;
}
.demo-list {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 12px;
  text-align: center;
}
.dropdown-info {
  display: flex;
  flex-direction: column;
}
.dropdown-info p {
  font-size: 13px;
  margin-bottom: 0;
}
.offcanvas-header button.close-btn {
  background: var(--bs-danger-soft);
  width: 30px;
  height: 30px;
  text-align: center;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 20px;
}
.offcanvas-header button.close-btn i {
  line-height: 29px;
}
.offcanvas-body .main-menu li a.nav-link {
  color: var(--body-color);
  padding: 0.5rem 1rem;
}
.offcanvas-body .main-menu li a.nav-link:hover {
  color: var(--bs-primary);
}
.offcanvas-body .radius-right-side {
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.offcanvas-body .dropdown-menu {
  position: relative;
}
.offcanvas-body .dropdown-grid {
  display: block;
  width: auto;
}
.offcanvas-body .dropdown-grid-item {
  width: 100%;
}
.offcanvas-body .dropdown-grid-item.last-item {
  display: none;
}
@media (max-width: 1199px) {
  .nav.main-menu {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .nav.main-menu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sticky-header.affix {
    padding: 15px 0 !important;
  }
}
@media (min-width: 320px) and (max-width: 376px) {
  .action-btns a:first-of-type {
    margin-bottom: 10px;
  }
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.loading-bar::before {
  content: "";
  width: 35px;
  height: 3px;
  background: var(--bs-primary);
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50% {
    left: 96px;
  }
}
.section-heading {
  margin-bottom: 50px;
}
@media (min-width: 991px) and (max-width: 1199px) {
  .action-btns.me-lg-0 {
    margin-right: 3rem !important;
  }
}
@media (max-width: 991px) {
  .section-heading {
    margin-bottom: 40px;
  }
}
.logo-color, .logo-white {
  width: 150px;
}
.offcanvas.show {
  visibility: visible;
}
