.page-title-box {
    padding-bottom: 24px;
  }
  .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0;
  }
  .page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px !important;
  }