/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
// @import "~material-kit/assets/scss/material-kit";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #c6c2c2;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  font-family: "Roboto", sans-serif !important;
}

a {
  cursor: pointer;
}

.custom-label {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(147, 159, 173, 0.84);
  line-height: 0.9375rem;
  font-weight: bold;
}

.form-group {
  display: inline-block;
  margin-bottom: 4px !important;
}

.position-start {
  text-align: start;
}

.position-center {
  text-align: center;
}

.position-end {
  text-align: end;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.center-text {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.button-text-center {
  display: inline-grid;
  align-items: center;
}

input:focus,
input:focus-visible {
  outline: none;
}

.navigation-container {
  overflow: auto;
}

.navigation-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.navigation-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.navigation-container::-webkit-scrollbar-thumb {
  background-color: #c6c2c2;
  border-radius: 5px;
}

.e-dlg-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.e-dlg-content::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.e-dlg-content::-webkit-scrollbar-thumb {
  background-color: #c6c2c2;
  border-radius: 5px;
}

.e-content-wrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.e-content-wrap::-webkit-scrollbar {
  width: 17px;
  background-color: #f5f5f5;
}

.e-content-wrap::-webkit-scrollbar-thumb {
  background-color: #c6c2c2;
  border-radius: 17px;
}

.e-input-group {
  // border-radius: 0px !important;
}

.e-tab.e-fill .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
  background: #202562 !important;
}

.e-tab.e-fill .e-tab-header {
  border-bottom: 2px Solid #202562 !important;
}

.e-radio:checked + label::before {
  border-color: #202562 !important;
}

.e-radio:checked + label::after {
  background-color: #202562 !important;
  color: #202562 !important;
}

.e-input-group
  .e-control-wrapper
  .e-valid-input
  .e-date-time-wrapper
  .e-input-focus {
  border: none !important;
}

.e-input-group.e-control-wrapper.e-valid-input.e-datetime-wrapper {
  border: none !important;
  background-color: none !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus
  .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input).e-input-focus
  .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus
  .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input).e-input-focus
  .e-input-in-wrap::after {
  border: none !important;
  background: none !important;
}

.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input)
  .e-input-in-wrap::after {
  border: none !important;
  background: none !important;
}

.button-action {
  // border-radius: 0px !important;
  padding: 9px 22px !important;
}

/*@media (min-width: 992px) {
  .e-dialog.e-popup {
    width: 50% !important;
  }
}*/

.btn-none {
  background: none;
  border: none;
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.outer {
  display: table;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: inherit;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

.e-btn-center {
  vertical-align: middle !important;
  line-height: normal !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.border-none {
  border: none !important;
}

.dropdown-toggle::after {
  vertical-align: 0.7em !important;
}