/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
// @import "~material-kit/assets/scss/material-kit";

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  font-family: "Roboto", sans-serif !important;
}

.custom-label {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(147, 159, 173, 0.84);
  line-height: 0.9375rem;
  font-weight: bold;
}

.form-group {
  display: inline-block;
  margin-bottom: 4px !important;
}

.position-start {
  text-align: start;
}

.position-center {
  text-align: center;
}

.position-end {
  text-align: end;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.center-text {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.button-text-center {
  display: inline-grid;
  align-items: center;
}

input:focus, input:focus-visible {
  outline: none;
}