<div
  *ngIf="config.schedule === undefined"
  [ngClass]="[config.width]"
  [formGroup]="group"
  class="form-group"
>
  <label *ngIf="config.title" class="custom-label">{{
    language[config?.title] ? language[config?.title] : config?.title
  }}</label>
  <ejs-datetimepicker
    cssClass="{{ config.class }}"
    [id]="config.name"
    [formControlName]="config.name"
    [disabled]="config.disabled!"
  ></ejs-datetimepicker>
</div>

<div *ngIf="config?.schedule" class="{{ config?.schedule.width }}">
  <label *ngIf="config?.schedule?.title" class="custom-label">{{
    language[config?.schedule?.title]
      ? language[config?.schedule?.title]
      : config?.schedule?.title
  }}</label>
  <div class="e-input-group e-control-wrapper e-outline e-ddl e-valid-input">
    <ejs-datetimepicker
      class="{{ config?.schedule?.class }} datetime-full-width"
      value="{{ config.value }}"
      name="{{ config?.schedule?.name }}"
    ></ejs-datetimepicker>
  </div>
</div>
