<div
  *ngIf="config.schedule === undefined"
  [ngClass]="[config.width]"
  [formGroup]="group"
  class="form-group"
>
  <label *ngIf="config.title" class="custom-label">{{
    language[config?.title] ? language[config?.title] : config?.title
  }}</label>
  <ejs-datetimepicker
    cssClass="{{ config.class }}"
    [id]="config.name"
    [formControlName]="config.name"
    [disabled]="config.disabled!"
  ></ejs-datetimepicker>
</div>

<div *ngIf="config.schedule" [ngClass]="[config.width]" class="form-group">
  <label *ngIf="config.title" class="custom-label">{{
    language[config?.title] ? language[config?.title] : config?.title
  }}</label>
  <ejs-datetimepicker
    cssClass="{{ config.class }}"
    [id]="config.name"
    [value]="config.value"
    [disabled]="config.disabled!"
  ></ejs-datetimepicker>
</div>
